body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: gray;
      color:#EAD2A8 ;
    font-family: Tahoma;
      font-size: 16px;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
      padding: 2rem 0;
  }
  
  fieldset:not(:last-of-type) {
    border-bottom: 3px solid #EAD2A8 ;
  }
  
  label {
    display: block;
      margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
      width: 100%;
    min-height: 2em;
  }
  
  input, textarea, select {
    background-color: #EAD2A8 ;
    border: 1px solid #101820FF;
    color: black
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  button[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #EAD2A8;
    border-color: black;
    min-width: 300px;
  }
  
 